

/* Navbar */
.navbar {
  background-color: lightcoral;
  font-size: larger;
  font-weight: bolder;
  color: blue;
}

/* Page features  */
button.submit {
    float: right;
  }
  
form#previous {
  margin-top: 50px;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}